.env/
data/
__pycache__/
*.zip
*.log

*.pot

*.pyc

# User-specific stuff:
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml
.idea/*

# Sensitive or high-churn files:
**/.idea/dataSources.ids
**/.idea/dataSources.xml
**/.idea/dataSources.local.xml
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml

*/*/*/*/__pycache__/
*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

**/models/*
**/processed_data/*
**/data/*
**/venv/*

**.csv
**.pkl
asr_correct_spelling/data/*

**.*pth
**.*zip
**.*rar
**bin.zip
**.pt
**.logs
**/cache_asr/*
**/runs/*

**/*.wav
transcription/*
media/*
**/*.ckpt
**/*.nemo

tokenizer_cmc/*
config/*_full.json
**/models/*
**/ngram_lm/*
**/cache/*
.vscode/
.venv/
/nlp/models/
**/vietnamese/*
**/logs/*
pretrained/
/test*
